header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(180, 220, 255);
  padding: 10px 20px;
}

.logo {
  display: flex;
}

.logo img {
  width: 50px;
}

.logo p {
  margin: auto 20px;
}